/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
  box-sizing: border-box;
}

h1, p, span {
  font-family: Helvetica, Arial, sans-serif;
}

a {
  color: #2518B5;
}

#wrapper {
  height: 1024px;
  margin: 0 auto;
  padding: 0;
  position: relative;
  width: 768px;
}

#fifi-find-box {
  position: absolute;
  top: 40%;
  width: 100%;
  transition: top 0.5s, left 0.5s;
  -webkit-transition: top 0.5s, left 0.5s;
}

#fifi-find-box.fifi-find-box-focused {
  top: 6px;
  left: 3px;
  height: 40px;
}

#fifi-find {
  font-size: 18px;
  height: 30px;
  padding: 2px;
  width: 380px;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 2px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  -webkit-transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

#fifi-find:focus {
  border-color: #66aee9;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(102, 175, 233, 0.6);
  outline: 0px none;
}

#geolocation-box {
  font-size: 18px;
  line-height: 25px;
  width: 382px; /* 380 + 1px border * 2 */
  vertical-align: top;
  text-align: right;
  display: block;
}

#geolocation-box.geolocation-box-focused {
  width: auto;
  text-align: left;
  display: inline-block;
}

#geolocation {
  font-size: 14px;
  line-height: 30px;
  color: #888;
  vertical-align: top;
  cursor: pointer;
  background-color: inherit;
  border: none;
  white-space: nowrap;
  padding: 0;
}
#geolocation:active {
  color: #444;
}

@media only screen and (width: 768px) {
  /* For portrait layouts only */
  #fifi-find-box {
    left: 194px; /* 768 / 2 = 384 - (380 / 2 = 190) = 194 */
  }
}
@media only screen and (width: 1024px) {
  /* For landscape layouts only */
  #fifi-find-box {
    left: 322px; /* 1024 / 2 = 512 - (380 / 2 = 190) = 322 */
  }
}

#suggestions,
#details {
  padding-top: 46px;
}

#search h1 {
  font-size: 80px;
  letter-spacing: -2px;
  text-align: center;
  text-transform: uppercase;
}

.fifi-suggest {
  float: left;
}

.suggestions li {
  background-color: #111;
  background-size: cover;
  background-repeat: no-repeat;
  color: #e8f6ff;
  display: block;
  float: left;
  font-size: 15px;
  height: 182px;
  margin: 3px;
  position: relative;
  width: 182px;
}

.suggestions li span {
  bottom: 0;
  display: block;
  font-size: 17px;
  overflow: hidden;
  padding: 5px;
  position: absolute;
  text-align: center;
  width: 175px;
}

#definition,
#details-list {
  vertical-align: top;
  display: table-cell;
  padding: 10px;
}

#definition {
  width: 30%;
}

#details-list {
  width: 65%;
}

#details-list li {
  width: 50%;
  float: left;
}

#definition-text {
  max-height: 200px;
  overflow: hidden;
  margin-bottom: 10px;
}

#definition-links li {
  margin: 5px 0;
}

.result-item {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 90%;
  margin-bottom: 10px;
  line-height: 1.2;
}

.result-image {
  float: left;
  max-width: 64px;
  margin-right: 6px;
  margin-bottom: 6px;
}

.result-title {
  color: #2518B5;
  display: block;
}

.result-url {
  color: #00802A;
  display: block;
}

.result-snippet {
  font-size: 90%;
  color: #444;
}

.icon {
  padding-left: 18px;
  vertical-align: top;
  background-repeat: no-repeat;
  background-position: top left;
}

.wikipedia {
  background-image: url('../images/wikipedia-16x16.png');
}

.youtube {
  background-image: url('../images/youtube-16x16.png');
}

.twitter {
  background-image: url('../images/twitter-16x16.png');
}

.vimeo {
  background-image: url('../images/vimeo-16x16.png');
}

.facebook {
  background-image: url('../images/facebook-16x16.png');
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}